@model IEnumerable<Consultorio.Web.Models.Consult>
﻿
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .consultass-partial {
        position: relative; /* Certifique-se de que o position não seja 'static' */
        z-index: -1; /* Coloca o partial atrás de outros elementos com z-index positivo */
    }
</style>

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-success alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        @TempData["MensagemErro"]
    </div>
}
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    @await Html.PartialAsync("Consultass.cshtml", Model)
</body>



