<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Consultorio.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/NavBar.css" asp-append-version="true" />
    <style>
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #f8f9fa; /* Cor de fundo do footer */
            color: #6c757d; /* Cor do texto do footer */
            padding: 10px 0; /* Espaçamento interno do footer */
            text-align: center; /* Alinhamento do texto no centro */
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav id="navbar" style="z-index:1">
        <ul class="navbar-items flexbox-col">
            <li>
                <a class="navbar-item-inner flexbox">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/Logomini.png" alt="Bootstrap" width="30" height="30">
                    </a>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="navbar-item-inner-icon-wrapper flexbox">
                        <ion-icon name="home-outline"></ion-icon>
                    </div>
                    <span class="link-text">Home</span>
                </a>
            </li>

            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" asp-area="" asp-controller="Paciente" asp-action="Index">
                    <div class="navbar-item-inner-icon-wrapper flexbox">
                        <ion-icon name="body-outline"></ion-icon>
                    </div>
                    <span class="link-text">Pacientes</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" asp-area="" asp-controller="Medico" asp-action="Index">
                    <div class="navbar-item-inner-icon-wrapper flexbox">
                        <ion-icon name="bag-add-outline"></ion-icon>
                    </div>
                    <span class="link-text">Medicos</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" asp-area="" asp-controller="Atendimento" asp-action="Index">
                    <div class="navbar-item-inner-icon-wrapper flexbox">
                        <ion-icon name="pulse-outline"></ion-icon>
                    </div>
                    <span class="link-text">Atendimentos</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" asp-area="" asp-controller="Servico" asp-action="Index">
                    <div class="navbar-item-inner-icon-wrapper flexbox">
                        <ion-icon name="thermometer-outline"></ion-icon>
                    </div>
                    <span class="link-text">Servicos</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left">
                    <div class="navbar-item-inner-icon-wrapper flexbox">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                    <span class="link-text">Support</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left">
                    <div class="navbar-item-inner-icon-wrapper flexbox">
                        <ion-icon name="settings-outline"></ion-icon>
                    </div>
                    <span class="link-text">Settings</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" asp-area="" asp-controller="Home" asp-action="Sair">
                    <div class="navbar-item-inner-icon-wrapper flexbox">
                        <ion-icon name="arrow-back-circle-outline"></ion-icon>
                    </div>
                    <span class="link-text">Sair</span>
                </a>
            </li>
        </ul>
        
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted">
        <div class="container">
            &copy; 2024 - Consultorio.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/NavB.js" asp-append-version="true"></script>
    <script type="module"  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

