@model User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="~/css/Login.css" />

</head>
<body style="margin:auto">


    <div class="container">
        <div class="left">
            <div class="header">
                <h2 class="animation a1">Seja Bem-vindo</h2>
                <h4 class="animation a2">Entre com o seu Login e senha</h4>
            </div>
            <form asp-controller="Login" asp-action="Logar" method="post">
                <div class="form">
                    <input type="text" class="form-field animation a3" asp-for="Name" id="Name" required data-val-required="Por favor, digite o seu e-mail" placeholder="Login">
                    @Html.ValidationMessageFor(x => x.Name)

                    <input type="password" class="form-field animation a4" asp-for="Password" id="senha" required data-val-required="Por favor, digite a sua senha" placeholder="Senha">
                    <p class="animation a5"><a href="#">Esqueci a minha senha</a></p>
                    <button type="submit" class="animation a6">Entrar</button>
                </div>
            </form>
        </div>
        <div class="right"></div>
    </div>

</body>
